// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.border {
  border-width: 4px;
  border-color: #dee0e2;
  border-style: solid;
  padding: .5em .5em 0;
}

.secure-checkbox-inline {
  display: inline;
}

.no-padding {
  padding: 0;
}

strong.govuk-tag {
  margin: 7px;
  background-color: #dee0e2;
  text-transform: none;
  color: black;
  letter-spacing: 0;
  font-weight: normal;
}

.float-right {
  float: right;
}

.StatusColumn {
  width: 109px;
}

label.govuk-label.govuk-checkboxes__label {
  font-size: .9em;
}

.govuk-tabs__tab {
  border: 1px solid #000;
  border-bottom: 0;
}

.govuk-tabs__list,
.govuk-tabs__panel,
.govuk-tabs__tab--selected {
  border-color:: #000!important;
}

table .sort:after {
  content: ' \25BC';
  display: inline-block;
}

//Styles for account bar
ul#navigation {
  border-bottom: 1px solid $govuk-border-colour;
  font-size: .9em;
  margin: 0 0 1em;
  padding: .8em 0;
  text-align: right;

  li {
    display: inline;
    padding: 0 0 0 1.5em;
    font-family: 'nta', Arial;
    font-size: 16px;
  }
}
