{% extends "layout.html" %}
{% block pageTitle %}
  View applications
{% endblock %}

{% block beforeContent %}
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">interactiondesign@companieshouse.gov.uk
    </li>
    <li>
      <a href="/account/login" id="user-signout">Sign out</a>
    </li>
  </ul>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Document submissions
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <span id="email-hint" class="govuk-hint">
          Search by company number or payment reference
        </span>
        <input class="govuk-input govuk-!-width-two-thirds" id="one-quarter" name="one-quarter" type="text">
        <a href="/applications/search-result" role="button" draggable="false" class="govuk-button">
          Search
        </a>
      </div>
    </div>
  </div>
  <br>

  {% set pastDayHtml %}
  <h2 class="govuk-heading-l">Received</h2>
  {{ govukTable({

firstCellIsHeader: false,
class:sortable,
head: [
{
html: "<a href=''>Company number</a>"
},
{
html: "  <a href='' class='sort'>Date received</a>",
format: "numeric"
}
],
rows: [
[
{
html: "<a href='view-details.html'>04934935</a>"
},
{
text: "01 May 2019",
format: "numeric"
}
],

[
{
html: "<a href='/'>12048603</a>"
},
{
text: "11 Mar 2019",
format: "numeric"
}
],

[
{
html: "<a href='/'>11927066</a>"
},
{
text: "1 Mar 2019",
format: "numeric"
}

],

[
{
html: "<a href='/'>09760357</a>"
},
{
text: "22 Feb 2019",
format: "numeric"
}
],
[
{
html: "<a href='/'>11516550</a>"
},
{
text: "1 Feb 2019",
format: "numeric"
}
],
[
{
html: "<a href='/'>SC206156</a>"
},
{
text: "25 Jan 2019",
format: "numeric"
}
]

]
}) }}
  {% endset -%}

  {% set pastWeekHtml %}
  <h2 class="govuk-heading-l">In progress</h2>
  {{ govukTable({

firstCellIsHeader: false,
class:sortable,
head: [
{
html: "<a href=''>Reference</a>"
},
{
html: " <a href=''>Name</a>"
},
{
html: " <a href=''>Type</a>",
format: "numeric"
},

{
html: " <a href=''>Status</a>"
},
{
html: "  <a href='' class='sort'>Status changed</a>",
format: "numeric"
}
],
rows: [
[
{
html: " <a href=''>ZF3Y0-BK5A2</a>"
},

{
text: "Freya Smith"
},
{
text: "243",
format: "numeric"
},
{
text: "Band C"
},
{
text: "01 May 2019",
format: "numeric"
}
],

[
{
html: " <a href='/'>61UY5-XTY74</a>"
},{
text: "Joe Green"
},
{
text: "243",
format: "numeric"
},

{
text: "Refer to NCA"
},
{
text: "11 Mar 2019",
format: "numeric"
}
],

[
{
html: " <a href='/'>TL119-9P8M8</a>"
},{
text: "Joe Green"
},
{
text: "790ZF",
format: "numeric"
},

{
text: "Band E"
},
{
text: "1 Mar 2019",
format: "numeric"
}

],

[
{
html: " <a href='/'>ZT988-NF163</a>"
},
{
text: "Chris Jones"
},
{
text: "790ZG",
format: "numeric"
},

{
text: "Refer to NCA"
},
{
text: "22 Feb 2019",
format: "numeric"
}
],
[
{
html: " <a href='/'>B822E-G66D3</a>"
},

{
text: "Sue Barker"
},
{
text: "243",
format: "numeric"
},
{
text: "More info"
},
{
text: "1 Feb 2019",
format: "numeric"
}
],
[
{
html: " <a href='/'>WRY65-P82WE</a>"
},
{
text: "Sally Thomas"
},
{
text: "790ZF",
format: "numeric"
},

{
text: "Band C"
},
{
text: "25 Jan 2019",
format: "numeric"
}
]

]
}) }}
  {% endset -%}

  {% set pastMonthHtml %}
  <h2 class="govuk-heading-l">Archive</h2>
  {{ govukTable({

firstCellIsHeader: false,
class:sortable,
head: [
{
html: "<a href='/'>Reference</a>"
},
{
html: " <a href='/'>Name</a>"
},
{
html: " <a href='/'>Type</a>",
format: "numeric"
},
{
html: " <a href='/'>Status</a>",
format: "numeric"
},
{
html: " <a href='' class='sort'>Status changed</a>",
format: "numeric"
}
],
rows: [
[
{
html: " <a href='/'>N7F88-K2HR8</a>"
},
{
text: "Sally Thomas"
},
{
text: "243",
format: "numeric"
},

{
text: "Complete",
format: "numeric"
},
{
text: "2 Apr 2019",
format: "numeric"
}
],
[
{
html: " <a href='/'>ZT988-NF163</a>"
},
{
text: "Joe Green"
},
{
text: "790ZF",
format: "numeric"
},

{
text: "Rejected",
format: "numeric"
},
{
text: "11 Mar 2019",
format: "numeric"
}
]
]
}) }}

  {% endset -%}

  {{ govukTabs({
  items: [
    {
      label: "Received",
      id: "past-day",
      panel: {
        html: pastDayHtml
      }
    },
    {
      label: "In progress",
      id: "past-week",
      panel: {
        html: pastWeekHtml
      }
    },
    {
      label: "Archive",
      id: "past-month",
      panel: {
        html: pastMonthHtml
      }
    }
  ]
}) }}

</div>
{% endblock %}